<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>


  <%= form.fields_for :goals, user.goals do |goal_form| %>
    <div class="field">
      <%= goal_form.label :title %>
      <%= goal_form.text_field :title %>
    </div>

    <div class="field">
      <%= goal_form.label :description %>
      <%= goal_form.text_field :description %>
    </div>

    <div class="field">
      <%= goal_form.label :points %>
      <%= goal_form.number_field :points %>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
